{% extends "apps/auth/auth_base.html" %}

{% load url from future %}
{% load i18n %}

{% block main_section %}
    <div class="reset-password-section">
        <div class="reset-password-header row">
            <div class="header-text pull-left">
                {% trans "Reset Password" %}
            </div>
        </div>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
        
            <div class="reset-password-content row">
                <div class='request-message'>
                    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password by click" %} <a class="link-color" href="{{ passwd_reset_url }}">{% trans "here" %}</a>.
                </div>
            </div>
               
        {% else %}
            {% if form %}
            <div class="reset-password-content row">
                <form method="POST" action="" class="uniForm"> {% csrf_token %}
                    <div class="row">
                        <label for="id_password1" class="bold small-margin-bottom">
                            {% trans "New Password" %}
                        </label>
                        {{ form.password1.errors }}
                        <div>
                            <input id="id_password1" name="password1" placeholder="Password" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="row medium-margin-top">
                        <label for="id_password2" class="bold small-margin-bottom">
                            {% trans "New Password (again)" %}
                        </label>
                        {{ form.password2.errors }}
                        <div>
                            <input id="id_password2" name="password2" placeholder="Password" type="password" class='form-control'>
                        </div>
                    </div>
                    <div class='medium-margin-top align-center'>
                        <button type="submit" class="btn btn-warning btn-sm" name="action">{% trans "Change Password" %}</button>
                    </div> 
                </form>
            </div>
            {% else %}
                <script>
                    window.location.href = "/?action=change_password&result=success";
                </script>
            {% endif %}
        
        {% endif %}
    </div>
{% endblock %}
