{% extends "base.html" %} 
{% load i18n %}
{% load frittie_main %}


{% block title %}
     <title> {{SITE_NAME_INITIAL_CAPITAL}} - {{activity.name|words_first_char_upper}} </title>
{% endblock %}


{% block header_css %}

  {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/activity.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/activity.min.css" type="text/css" />
    {% endif %}

{% endblock %}

{% block hidden %}
  <input type='hidden' id='activity_unique_id' value='{{activity.unique_id}}'/>

  {% if activity.is_location_model %}
      <input type='hidden' id='is_location_model' value='True'/>
      <input type="hidden" id="activity_location_lat" value="{{activity.get_location_object.lat}}"/>
      <input type="hidden" id="activity_location_lng" value="{{activity.get_location_object.lng}}"/>
  {% else %}
      <input type='hidden' id='is_location_model' value='False'/>
  {% endif %}
  
  {% block custom_hidden %}
  {% endblock %}

{% endblock %}


{% block modal %}

  {% include "common/modal/delete_comment.html" %}
  {% include "common/modal/report_comment.html" %}
  {% include "common/modal/add_photo.html" %}
  
  {% block custom_modal %}
  {% endblock %}

{% endblock %}


{% block footer %}
    {% include "common/footer.html" %}
{% endblock %}


{% block footer_internal_scripts %}

	{% if stage == "dev" %}
    <script type="text/javascript" src="{{STATIC_URL}}js/apps/activity/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/activity/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/activity/main.js"></script>
	{% else %}
    <script type="text/javascript" src="{{STATIC_URL}}js/apps/activity/prod/frittie.script.app.min.js"></script> 
	{% endif %}

{% endblock %}
