{% load frittie_main %}
{% load i18n %}

{% if activities %}
    {% with activities_count=activities|length %}

        {% for activity in activities %}
            <li class="activity-item row {% if activities_count != 1 %} {% if forloop.first %} first {% elif forloop.last %} last {% endif %} {% endif %}" data-unique-id="{{activity.unique_id}}">
                <div class="activity-logo pull-left image-container">
                    <a href="/activity/{{activity.unique_id}}">
                        <img src="{{activity.logo.image.url}}" photo-id="{{activity.logo.unique_id}}" alt="Activity Logo" class='crop-image'/>
                    </a>
                </div>
                <div class="activity-info pull-left">
                    <div class="name">
                        <a href="/activity/{{activity.unique_id}}">
                            {{activity.name|words_first_char_upper}}
                        </a>
                    </div>
                    <div class="description add-dot" data-html-maxlength="210">
                        {{activity.description|safe}}
                    </div>
                    <div class="time">
                        <span>
                            {% if activity.start_time|istoday %}
                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
                            {% elif activity.start_time|istomorrow %}
                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
                            {% else %}
                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
                            {% endif %}
                        </span>
                    </div>
                    <div class="people-going">
                        <div class="image pull-left">
                            <img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                        </div>
                        <div class="text pull-left normal-text mini-margin">
                            <span class="bold">
                                {{activity.user_join.all|length}} {% trans "people" %}
                            </span>  
                            {% trans "are going" %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}

    {% endwith %}
{% else %}
    <li class='medium-margin-bottom'>
        <div class='align-center'>
            <span class='medium-text bold'>{% trans "Sorry, no matched activities" %}.</span>
        </div>
    </li>
{% endif %}