{% extends "apps/activity/activity_base.html" %}

{% load frittie_main %}
{% load i18n %}
{% load thumbnail %}

{% block header_scripts %}
    <script src="{{STATIC_URL}}js/plugins/tiny_mce/tiny_mce_src.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            // General options
            mode : "specific_textareas",
            editor_selector : "mce-editor",
            elements : "elm2",
            theme : "advanced",
            skin : "o2k7",
            skin_variant : "silver",
            plugins: 'advimage,advlink,preview,searchreplace,inlinepopups,media,autoresize,table,paste',
            theme_advanced_buttons1: 'bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect,forecolor,backcolor,|,bullist,numlist,|,link,unlink,image,media',
            theme_advanced_buttons2: 'tablecontrols,pasteword,outdent,indent,blockquote,hr,preview,code',
            language: 'en',
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_resizing : true,
        });

    </script>
{% endblock %}

{% block main_section %}

    <div id="edit_activity_section" class="div-center">

        <div id="header_section" class="row">
            <div class="row large-margin-top">
                <div class="col-md-7">
                    <div class="name row">
                        <span>{{activity.name|first_char_upper}}</span>
                    </div>
                    <div class="start-date row">
                        <span>{{activity.start_time|display_weekday}}, {{activity.start_time.date}} {% trans "starting at" %} {{activity.start_time.time}}</span>
                    </div>
                </div>
                <div class="top-action col-md-5 medium-margin-top">
                    {% if activity.is_publish %}
                        <button class="btn btn-default pull-right save-btn btn-primary mini-margin-left btn-sm">{% trans "Save" %}</button>
                        <a href="/activity/{{activity.unique_id}}" class="btn btn-default pull-right btn-sm">{% trans "Manage" %}</a>
                    {% else %}
                        <button class="btn btn-success mini-margin-left pull-right publish-btn btn-sm">{% trans "Publish" %}</button>
                        <button class="btn btn-default pull-right save-btn btn-sm">{% trans "Save" %}</button>
                    {% endif %}
                    {% if activity.last_update %}
                        <div class="pull-right small-margin-right small-margin-top gray-color">
                            {% trans "Last updated at" %} {{activity.last_update.time}}
                        </div>
                     {% endif %}
                </div>
            </div>
        </div>

        <div id="edit_section" class="row">
            <div class='wrapper'>

                <form id="edit_activity_form" enctype="multipart/form-data" method="post" action="{% url 'edit_activity' activity.unique_id %}" novalidate>
                {% csrf_token %}

                    <input type="hidden" id="is_edit_activity_form_clicked" value="false" />
                    {% if not activity.is_publish %}
                        <input type="hidden" id="is_make_publish" name="is_make_publish" value="0"/>
                    {% endif %}
                    <div class="error-notice hide">
                        <span>{% trans "There are error occured in the form. Plese complete the form correctly" %}</span>
                    </div>

                    <div class="form-group">
                      
                        <div class="activity-name row activity-data">
                            <fieldset>
                                <div class="error-field required hide">
                                    {% trans "Please fill out the activity name" %} 
                                </div>
                                <label class="pull-left">
                                    {% trans "Name" %} *                      
                                </label>
                                <div class="input-field pull-left">
                                    {{form.name}}
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-description row activity-data">
                            <fieldset>
                                <label class="pull-left">
                                    {% trans "Description" %} *                    
                                </label>
                                <div class="input-field pull-left">
                                    <div class="error-field required hide">
                                        {% trans "Please fill out the description for your activity" %}
                                    </div>
                                    <textarea class="form-control mce-editor" id="edit_description" name="description">{{default_data.description}}</textarea>
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-logo row activity-data">
                            <fieldset>
                                <div class="error-field image-size hide">
                                    {% trans "File over 5mb" %}
                                </div>
                                <label class="pull-left">
                                    {% trans "Logo (recommended)" %}                  
                                </label>
                                <div class="input-field pull-left">
                                    {% if activity.logo %}
                                        <input id="id_logo" name="logo" type="file" >
                                        <div id="edit_activity_logo_upload_area">
                                           Drag or Click to upload file
                                        </div>
                                        <div id="edit_activity_logo_thumbnail" class='image-container'>
                                            {% thumbnail activity.logo.image "400x250" crop='center' as im %}
                                                <img src="{{im.url}}" id="display_activity_logo" width='{{im.width}}' height='{{im.height}}'/>
                                            {% endthumbnail %}
                                        </div>
                                    {% else %}
                                        <input id="id_logo" name="logo" type="file">
                                        <div id="edit_activity_logo_upload_area">
                                           Drag or Click to upload file
                                        </div>
                                        <div id="edit_activity_logo_thumbnail" class='image-container hide'></div>
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-location row activity-data">
                            <fieldset>
                                <div class="error-field required hide">
                                    {% trans "Please fill out the place for your activity" %}
                                </div>
                                <label class="pull-left">
                                    {% trans "Place" %} *                      
                                </label>
                                <div class="input-field pull-left pos-relative">
                                    {% if activity.is_location_model %}
                                        <input class="form-control" id="id_activity_place" maxlength="100" name="activity_place" required="required" type="text" value="{{activity.get_location_object.name}}">
                                        <input type="hidden" class="location-unique-id" name="location_unique_id" value="{{activity.get_location_object.unique_id}}"/>
                                    {% else %}
                                        <input class="form-control" id="id_activity_place" maxlength="100" name="activity_place" required="required" type="text" value="{{activity.location}}">
                                        <input type="hidden" class="location-unique-id" name="location_unique_id" />
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>     

                        <div class="row activity-data">
                            <fieldset>
                                <label class="pull-left">
                                    {% trans "Place Details Info" %}                       
                                </label>
                                <input type="hidden" id="prefil_location_additional_info" value="{{activity.location_additional_info}}"/>
                                <div class="input-field pull-left ">
                                    {{form.location_additional_info}}
                                </div>
                            </fieldset>
                        </div> 

                        <div class="activity-start-time row activity-data">
                            <fieldset>
                                <div class="error-field required hide">
                                    {% trans "Please fill out the start time for your activity" %}
                                </div>
                                <label class="pull-left">
                                    {% trans "Start time" %} *        
                                </label>
                                <div class="input-field pull-left">
                                    <input type="text" class="form-control datepicker-field" name="start_date" id="start_date" placeholder="Start date" required="required" value="{{default_data.start_date}}" data-date-format="mm/dd/yyyy" readOnly/>
                                    <div class="bfh-timepicker pull-left" data-mode="12h" data-time="{{default_data.start_time}}" id="start_time" data-name="start_time"></div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-end-time row activity-data">
                            <fieldset class="optional">
                                <label class="pull-left">
                                    {% trans "End time" %}                  
                                </label>
                                <div class="input-field pull-left">
                                    {% if activity.end_time %}
                                        <input type="text" class="form-control datepicker-field" name="end_date" id="end_date" placeholder="End date" value="{{default_data.end_date}}" data-date-format="mm/dd/yyyy" readOnly/>
                                        <div class="bfh-timepicker pull-left" data-mode="12h" data-time="{{default_data.end_time}}" id="end_time" data-name="end_time"></div>
                                    {% else %}
                                        <input type="text" class="form-control datepicker-field" name="end_date" id="end_date" placeholder="End date" readOnly/>
                                        <div class="bfh-timepicker pull-left" data-mode="12h" id="end_time" data-name="end_time"></div>
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-category row activity-data">
                            <fieldset>
                                <label class="pull-left">
                                    {% trans "Category" %} *       
                                </label>
                                <div class="input-field pull-left">
                                    {{form.category}}
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-limit row activity-data">
                            <fieldset>
                                <div class="error-field numeric hide">
                                    {% trans "Please enter a numeric value" %}
                                </div>
                                <div class="error-field required hide">
                                    {% trans "Please enter number of people allowed to attend your activity" %}
                                </div>
                                <label class="pull-left">
                                    {% trans "Limit People" %} *       
                                </label>
                                <div class="input-field pull-left">
                                    {% if activity.limit == -1 %}
                                        <input class="form-control" disabled="disabled" id="id_limit" name="limit" numeric="numeric" type="text">
                                        <div class="pull-right small-margin-top">
                                            <input type="checkbox" id="unlimited_people_checkbox" class="pull-left" name="is_unlimited" checked/>
                                            <span class="mini-margin-left">{% trans "Unlimited" %}</span>
                                        </div>
                                    {% else %}
                                        <input class="form-control" id="id_limit" name="limit" numeric="numeric" type="text" value="{{activity.limit}}">
                                        <input type="hidden" id="limit_people_value" value="{{activity.limit}}"/>
                                        <div class="pull-right small-margin-top">
                                            <input type="checkbox" id="unlimited_people_checkbox" class="pull-left" name="is_unlimited"/>
                                            <span class="mini-margin-left">{% trans "Unlimited" %}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>

                        <div class="activity-ticket-type row activity-data">
                            <fieldset>
                                <label class="pull-left">
                                    Activity Type *                 
                                </label>
                                <div class="input-field pull-left">
                                    {{form.activity_type}}
                                </div>
                            </fieldset>
                        </div>

                        {% if activity.sell_ticket == '1' %}
                            <div class='activity-ticket-policy row activity-data'>
                                <fieldset>
                                    <div class="error-field required hide">
                                        {% trans "Please enter your ticket policy" %}
                                    </div>
                                    <label class="pull-left">
                                        Reserve Ticket Policy *                    
                                    </label>
                                    <div class="input-field pull-left">

                                        <textarea class="form-control" id="ticket_policy" name="ticket_policy" placeholder='Please provide details about how you want to deliver ticket to the customer' required='required'></textarea> 
                                    </div>
                                </fieldset>
                            </div>
                        {% else %}
                            <div class='activity-ticket-policy row activity-data hide'>
                                <fieldset>
                                    <div class="error-field required hide">
                                        {% trans "Please enter your ticket policy" %}
                                    </div>
                                    <label class="pull-left">
                                        Reserve Ticket Policy *                    
                                    </label>
                                    <div class="input-field pull-left">
                                        <textarea class="form-control" id="ticket_policy" name="ticket_policy" placeholder='Please provide details about how you want to deliver ticket to the customer'></textarea> 
                                    </div>
                                </fieldset>
                            </div>
                        {% endif %}

                        {% if activity.activity_type == "2" %}
                        <div class="activity-privacy row activity-data hidden">
                        {% else %}
                        <div class="activity-privacy row activity-data">
                        {% endif %}
                            <fieldset>
                                <label class="pull-left">
                                    {% trans "Privacy" %} *   
                                </label>
                                <div class="input-field pull-left">
                                    {{form.privacy}}
                                </div>
                            </fieldset>
                        </div>

                        <div class="bottom-action row">
                            <div class="pull-left">
                                {% if not activity.is_publish %}
                                    <button class="btn btn-default save-btn btn-sm">{% trans "Save" %}</button>
                                    <button class="btn btn-success mini-margin-left publish-btn btn-sm">{% trans "Publish" %}</button>
                                {% else %}
                                    <button class="btn btn-default save-btn btn-primary btn-sm">{% trans "Save" %}</button>
                                {% endif %}
                                
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}


