{% load frittie_main %}

<a href='/people/{{subject.username}}'>{{subject.get_profile.get_user_fullname}}</a> just commented in <a href='/{{object_type}}/{{object.unique_id}}'>{{object.name|first_char_upper}}</a>