{% extends "base.html" %}
{% load i18n %}
{% block title %}
	<title> {{SITE_NAME_INITIAL_CAPITAL}} - {% trans "Feeds" %} </title>
{% endblock %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/feed.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/feed.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="main-area div-center pos-relative">
		<div class="left-section pull-left">
			{% block left_section %}
    		{% endblock %}
		</div>
		<div class="right-section pull-left">
			{% block right_section %}
    		{% endblock %}
		</div>
    </div>
{% endblock %}

{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}

{% block footer_internal_scripts %}

	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/feed/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/feed/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/feed/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/feed/prod/frittie.script.app.min.js"></script> 
	{% endif %}

{% endblock %}