{% load i18n %}<div class="pull-left">
    <button class="btn btn-success btn-sm mini-margin-right" id="request_join_btn" value="attending">
        <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{% trans "Attending" %}
    </button>
</div>