<div class="modal fade" id="create_activity_modal_mobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true"><i class="fa fa-times"></i></span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Create Your Activity</h4>
			</div><!-- end .modal-header -->
        	<form id="create_activity_form_mobile" method="post" action="{% url 'create_activity' %}" novalidate>
        	{% csrf_token %}
        	 <input type="hidden" id="is_create_activity_form_mobile_clicked" value="false" />
				<div class="modal-body">
				 	<div class="error-notice-mobile hide">
                    <span>There are error occured in the form. Plese complete the form correctly</span>
               		 </div>
					<div class="form-group">
						<div class="col-sm-10">
							<fieldset>
                            	<div class="error-field required hide">
                                	Please fill out the activity name 
                                </div>
                              	<label for="activity_name" class="control-label col-sm-2">Name *</label>
                                    {{create_activity_form.name}}
                            </fieldset>
						</div>
					</div><!-- end .form-group -->
					
					<div class="form-group">
						<label for="activity_brief_info" class="control-label col-sm-2">Brief Info*</label>
						<div class="col-sm-10">
                            	{{create_activity_form.description}}
						</div>
					</div><!-- end .form-group -->

					<div class="activity-location-mobile form-group">
					    <fieldset>
						<div class="error-field required hide">
                        	Please fill out the place for your activity
                        </div>
                        <div class="error-field unique-id-correct hide">
                            Please choose the correct place for your activity
                        </div>
						<label for="activity_place" class="control-label col-sm-2">Place *</label>
						<div class="col-sm-10">
						<div class="input-field">
								{{create_activity_form.activity_place}}
								 <input type="hidden" class="location-unique-id" name="location_unique_id" value="" />
                                 <input type='hidden' class='is-google-place' name='is_google_place'/>
                                 <input type='hidden' class='google-place-id' name='google_place_id'/>
                                 <input type='hidden' class='google-place-address' name='google_place_address'/>
                                 <input type='hidden' class='google-place-city' name='google_place_city'/>
                                 <input type='hidden' class='google-place-country' name='google_place_country'/>
                                 <input type='hidden' class='google-place-state' name='google_place_state'/>
                                 <input type='hidden' class='google-place-zipcode' name='google_place_zipcode'/>
                                 <input type='hidden' class='google-place-lat' name='google_place_lat'/>
                                 <input type='hidden' class='google-place-lng' name='google_place_lng'/>
                         </div>
                         <label class="pull-left">
                         		Detail location info                    
                         </label>
                         <div class="input-field pull-left">
                                 {{create_activity_form.location_additional_info}}
                         </div>

						</div>
						</fieldset>
					</div><!-- end .form-group -->

					<div class="form-group">
						
						<div class="col-sm-10">
							<div id="add_an_activity_form_map_canvas"></div>
						</div>
					</div><!-- end .form-group -->
					
					<div class="form-group">
						<label for="" class="control-label col-sm-2">When*</label>
						<div class="col-sm-5">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control datepicker-field"  id="start_date" name="start_date"/>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="bfh-timepicker pull-left" data-mode="12h" data-time="now" id="start_time" data-name="start_time"></div>
							</div>
						</div>
					</div><!-- end .form-group -->
					
					<div class="form-group activity-end-time">
						<label for="" class="control-label col-sm-2">To</label>
						<div class="col-sm-5">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								 <input type="text" class="form-control datepicker-field" name="end_date" id="end_date" placeholder="End date" required="required"/>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="bfh-timepicker pull-left" data-mode="12h" data-time="now" id="end_time" data-name="end_time"></div>
							</div>
						</div>
					</div><!-- end .form-group -->
					
					
					<div class="form-group">
						<label for="" class="control-label col-sm-2">Category*</label>
						<div class="col-sm-10">
							{{create_activity_form.category}}
						</div>
					</div><!-- end .form-group -->
					
					<div class="form-group">
						<fieldset>
						<div class="error-field numeric hide">
                        	Please enter a numeric value
                        </div>
                        <div class="error-field required hide">
                            Please enter number of people allowed to attend your activity
                        </div>
						<label for="" class="control-label col-sm-2">Limit Guest*</label>
						<div class="col-sm-8">
								{{create_activity_form.limit}}
						</div>
						<div class="col-sm-2">
							<div class="checkbox">
								<label for="">
									<input type="checkbox" id="unlimited_people_checkbox" name="is_unlimited" checked/>
									Unlimited
								</label>
							</div>
						</div>
					    </fieldset>
					</div><!-- end .form-group -->
					
						<label for="" class="control-label col-sm-2">Type*</label>
						<div class="col-sm-10">
							{{create_activity_form.activity_type}}
						</div>
					
						<label for="" class="control-label col-sm-2">Privacy*</label>
						<div class="col-sm-10">
                        	{{create_activity_form.privacy}}
						</div>
					
					
					
				</div><!-- end .modal-body -->
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">
						Cancel
					</button>
					<button class="btn btn-primary prevent-default btn-sm" id="create_activity_btn_mobile" type="submit">
						Create
					</button>
				</div><!-- end .modal-footer -->
			</form><!-- end form -->


		</div>
	</div>
</div>
