<div class="modal fade clear-modal-error report-modal" id="report_comment_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Report Comment</h4>
      </div>
      <div class="modal-body">
        <p class="medium-text">
         Please tell us the reason why you want to report this comment
        </p>
        <textarea id="report_comment_textarea" class="medium-margin-top form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" id="report_comment_final_btn" class="btn btn-primary btn-sm">Submit</button>
        <input type="hidden" id="report_comment_unique_id"/>
      </div>
    </div>
  </div>
</div>