<div class="modal fade clear-modal-error" id="request_join_activity_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Introduce yourself to join us!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <fieldset>
                <div class="error-field required hide pull-right">
                    Please introduce yourself 
                </div>
                <p class="bold">
                    Introduce about yourself                     
                </p>
                <div class="input-field">
                    <textarea id="request_introduction_textarea" class="form-control" required="required" placeholder="Hello, I want to join this..."></textarea>
                </div>
            </fieldset>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" id="request_join_activity_btn" class="btn btn-primary btn-sm">Submit</button>
      </div>
    </div>
  </div>
</div>
