<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true"><i class="fa fa-times"></i></span>
		<span class="sr-only">Close</span>
	</button>
	<h4 class="modal-title">Create Your Activity</h4>
</div><!-- end .modal-header -->
<form id="add_an_activity_form" action="" class="form form-horizontal">
	<div class="modal-body">
		<div class="form-group">
			<label for="activity_name" class="control-label col-sm-2">Name*</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="add_an_activity_form_name" name="activity_name"/>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="activity_brief_info" class="control-label col-sm-2">Brief Info*</label>
			<div class="col-sm-10">
				<textarea  id="add_an_activity_form_brief_info" name="activity_brief_info" cols="30" rows="10" class="form-control"></textarea>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="activity_place" class="control-label col-sm-2">Place*</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"  id="add_an_activity_form_place" name="activity_place"/>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			
			<div class="col-sm-10">
				<div id="add_an_activity_form_map_canvas"></div>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="" class="control-label col-sm-2">When*</label>
			<div class="col-sm-5">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input type="text" class="form-control"  id="add_an_activity_form_start_date" name="activity_start_date"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
					<input type="text" class="form-control" id="add_an_activity_form_start_time" name="activity_start_time"/>
				</div>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="" class="control-label col-sm-2">To</label>
			<div class="col-sm-5">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input type="text" class="form-control" id="add_an_activity_form_end_date" name="activity_end_date"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
					<input type="text" class="form-control" id="add_an_activity_form_end_time" name="activity_end_time"/>
				</div>
			</div>
			<div class="col-sm-1">
				<p class="form-control-static">
					<i class="fa fa-times"></i>
				</p>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<a href="" id="add_an_activity_form_end_date_time_toggle">End time?</a>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="" class="control-label col-sm-2">Category*</label>
			<div class="col-sm-10">
				<select id="add_an_activity_form_category" name="activity_category" class="form-control">
					<option value="">Art/Entertaining</option>
					<option value="">Business/Networking</option>
					<option value="">Education</option>
					<option value="">Dating/Dinner</option>
					<option value="">Meetup/Hangout</option>
					<option value="">Party</option>
					<option value="">Sport/Outdoor</option>
					<option value="">Volunteer/Community</option>
					<option value="">Other</option>
				</select>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="" class="control-label col-sm-2">Limit Guest*</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="add_an_activity_form_guest_number" name="activity_guest_number"/>
			</div>
			<div class="col-sm-2">
				<div class="checkbox">
					<label for="">
						<input type="checkbox" id="add_an_activity_form_guest_number_toggle" name="activity_guest_number_toggle"/>
						Unlimited
					</label>
				</div>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="" class="control-label col-sm-2">Ticket Type*</label>
			<div class="col-sm-10">
				<select id="add_an_activity_form_ticket_type" name="activity_ticket_type" class="form-control">
					<option value="Yes, my event sells ticket"></option>
					<option value="">No, not needed</option>
				</select>
			</div>
		</div><!-- end .form-group -->
		
		<div class="form-group">
			<label for="" class="control-label col-sm-2">Privacy*</label>
			<div class="col-sm-10">
				<select id="add_an_activity_form_privacy" name="activity_privacy" class="form-control">
					<option value="">Public</option>
					<option value="">Private</option>
				</select>
			</div>
		</div><!-- end .form-group -->
		
		
		
	</div><!-- end .modal-body -->
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">
			Cancel
		</button>
		<button class="btn btn-primary" type="submit">
			Create
		</button>
	</div><!-- end .modal-footer -->
</form><!-- end form -->
