<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true"><i class="fa fa-times"></i></span>
		<span class="sr-only">Close</span>
	</button>
	<h4 class="modal-title">Add a place</h4>
</div><!-- end .modal-header -->
<form id="add_a_place_form" action="" class="form">
	<div class="modal-body">
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<div class="form-group">
					<label for="" class="control-label">Name*</label>
					<input type="text" class="form-control" />
				</div><!-- end .form-group -->
				
				<div class="form-group">
					<label for="" class="control-label">Category*</label>
					<select id="add_a_place_form_category" name="place_category" class="form-control">
						<option value="">Art/Entertaining</option>
						<option value="">Business/Networking</option>
						<option value="">Education</option>
						<option value="">Dating/Dinner</option>
						<option value="">Meetup/Hangout</option>
						<option value="">Party</option>
						<option value="">Sport/Outdoor</option>
						<option value="">Volunteer/Community</option>
						<option value="">Other</option>
					</select>
				</div><!-- end .form-group -->
				
				<div class="form-group">
					<label for="" class="control-label">Description*</label>
					<textarea  id="add_a_place_form_description" name="place_description" cols="30" rows="5" class="form-control"></textarea>
				</div><!-- end .form-group -->
				
				<div class="form-group">
					<label for="" class="control-label">Address Line 1*</label>
					<input type="text" class="form-control" />
				</div><!-- end .form-group -->
				
				<div class="form-group">
					<label for="" class="control-label">Address Line 2</label>
					<input type="text" class="form-control" />
				</div><!-- end .form-group -->
				
				<div class="form-group row">
					<div class="col-md-6">
						<label for="" class="control-label">City*</label>
						<input type="text" class="form-control" />
					</div>
					<div class="col-md-6">
						<label for="" class="control-label">State*</label>
						<select name="add_a_place_form_state" id="place_state" class="form-control">
							<option value="">Alabama</option>
							<option value="">Alaska</option>
						</select>
					</div>
				</div><!-- end .form-group -->
				
				<div class="form-group row">
					<div class="col-md-6">
						<label for="" class="control-label">Country*</label>
						<select name="add_a_place_form_country" id="place_country" class="form-control">
							<option value="">United States</option>
							<option value="">Vietnam</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="" class="control-label">Zip Code*</label>
						<input type="text" class="form-control" />
					</div>
				</div><!-- end .form-group -->
			</div><!-- end left col -->
			
			<div class="col-md-5 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<small>Move the map pin if needed</small>
					</div>
					<div class="panel-body">
						<div id="add_a_place_form_map_canvas"></div>
					</div>
				</div><!-- end map-panel -->
				
				<div class="form-group">
					<label for="" class="control-label">Website</label>
					<input type="text" name="add_a_place_form_website" value="" id="place_website" class="form-control" placeholder="http://www.example.com"/>
				</div><!-- end .form-group -->
				
				<div class="form-group">
					<label for="" class="control-label">Phone</label>
					<input type="text" class="form-control" id="add_a_place_form_phone" name="place_phone"/>
				</div><!-- end .form-group -->
				
				<div class="form-group">
					<label for="" class="control-label">Picture</label>
					<input type="file" />
				</div><!-- end .form-group -->
			</div><!-- end right col -->
		</div><!-- end .row -->
	</div><!-- end .modal-body -->
	
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">
			Cancel
		</button>
		<button class="btn btn-primary" type="submit">
			Create
		</button>
	</div><!-- end .modal-footer -->
</form><!-- end form -->
