{% extends "base.html" %}

{% block title %}
	<title> Oops Sorry</title>
{% endblock %}

{% block header_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/styles.min.css" type="text/css" />
{% endblock %}

{% block content %}
	<div id='Content' class='row'>
        <div id='error_section'>
            <div class="row">
                <p class="bold extra-large-text">Oh no, it looks like you are off the map!</p>
                <p class="large-text mini-margin-top">Click <a href="/" class="frittie-color">here </a> to go back home</p>
            </div>

            <div class="row">
                <img src="{{STATIC_URL}}img/apps/body/error-picture.png" id="error_picture"/>
            </div>

            <div class="row" style='margin-bottom:100px'>
                <p class="bold extra-large-text">- OR -</p>
                <p class="frittie-color large-text">Report this to our rescue team</p>
            </div>
        </div>
    </div>
{% endblock %}
