{% load i18n %}
<div class="modal fade" id="reserve_ticket_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="reserve_ticket_form" method="POST" action="{% url 'reserve_ticket' %}" >
                {% csrf_token %}
                <input type="hidden" id="check_form_clicked" value="false" />
                <input type="hidden" name="activity_unique_id" value="{{activity.unique_id}}"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Reserve Ticket Confirmation" %} ? </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default" id='ticket_info_detail'>
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans "Ticket Info" %}
                            </div>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                             {% trans "Cancel" %}
                        </button>
                        <button type="submit" id="reserve_activity_ticket_btn" class="btn btn-success btn-sm" >
                            {% trans "Submit" %}
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>