{% extends "apps/about/about_base.html" %}
{% load i18n %}

{% block content %}
<div class="content container medium-margin-top" id="about_us_container">
	<div class="col-md-3">
		<div id="about_us_left">
			
			<div class="panel">
				<div class="panel-heading">
					<div class="pull-right">
						<i class="fa fa-users"></i>
					</div>
					<div class="text-uppercase">
						{% trans "About" %}
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group" id="about_list">
					<li class="list-group-item active">
						<a href="">{% trans "Company" %}</a>
					</li>
					<li class="list-group-item pointer-cursor" >
						<a href="">
							{% trans "Jobs" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor" >
						<a href="">
							FAQs
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
				</ul>
				<div class="panel-heading">
					<div class="pull-right">
						<i class="fa fa-gavel"></i>
					</div>
					<div class="text-uppercase">
						Legal
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group" id="legal_list">
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "Terms" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "Privacy" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "API Terms" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item">
						<a href="">
							{% trans "Libraries" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
				</ul>
				<div class="panel-footer">
					<div class="text-right">
						Frittie &copy; Copyright 2014
					</div>
				</div>
			</div>

			<!-- <div class="panel-group" id="accordion">
				
				<div class="panel">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#question_panel">
							<div class="pull-right">
								<i class="fa fa-question-circle"></i>
							</div>
							<div class="text-uppercase">
								Have A Question?
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div id="question_panel" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="form-group">
								<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
							</div>
							<a href="" class="pull-right btn btn-danger">Submit</a>
						</div>
					</div>
				</div>
			</div> -->
				
		</div>
	</div>
	<div class="col-md-9 row">
		<div class="bubble" id="about_us_right">
			<div class="panel">
				<div class="panel-heading">
					<div class="text-uppercase">
						{% trans "About Frittie" %} 
					</div>
				</div>
				<div class="panel-body">
					<div id="about_text" class="bubble">
						<h4 class="text-bold"></h4>
						<p>
						{% trans "Frittie is a web and mobile applications which set out to change forever the way you explore, share and organize your activities and events. Frittie allows users to actively search for events and activities based on location. You can share events to your friends and get involved in the event during its lifetime. You can create and invite others to your event. You can organize, keep track of things that related to events. Frittie makes all of that happen seamlessly simple." %}
						</p>
					</div>
				</div>
				<div class="panel-heading">
					<div class="text-uppercase">
						{% trans "Our Team" %}
					</div>
				</div>
				<div class="panel-body">
					<ul class="media-list" id="team_list">
						<li class="media">
							<a href="" class="pull-right bubble bubble-left"><img alt="" class="media-object img-rounded" /></a>
							<div class="media-body">
								<h4 class="media-heading">
								<div class="pull-right">
									<ul class="list-unstyled list-inline">
										<li>
											<a href=""><i class="fa fa-envelope"></i></a>
										</li>
									</ul>
								</div><span class="text-bold">Hello from frittie</span> - <span class="text-italic"><span><div class="clearfix"></div></h4>
								{% trans "Contact us at teamfrittie@gmail.com" %}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}
