{% extends "apps/about/about_base.html" %}
{% load i18n %}

{% block content %}
<div class="content container medium-margin-top" id="about_us_container">
	<div class="col-md-3">
		<div id="about_us_left">
			
			<div class="panel">
				<div class="panel-heading">
					<div class="pull-right">
						<i class="fa fa-users"></i>
					</div>
					<div class="text-uppercase">
						{% trans "About" %}
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group" id="about_list">
					<li class="list-group-item active">
						<a href="">{% trans "Company" %}</a>
					</li>
					<li class="list-group-item pointer-cursor" >
						<a href="">
							{% trans "Jobs" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor" >
						<a href="">
							FAQs
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
				</ul>
				<div class="panel-heading">
					<div class="pull-right">
						<i class="fa fa-gavel"></i>
					</div>
					<div class="text-uppercase">
						Legal
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group" id="legal_list">
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "Terms" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "Privacy" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "API Terms" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item">
						<a href="">
							{% trans "Libraries" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
				</ul>
				<div class="panel-footer">
					<div class="text-right">
						Frittie &copy; Copyright 2014
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 row">
		<div class="bubble" id="about_us_right">
			<div class="panel">
				<div class="panel-heading">
					<div class="text-uppercase">
						{% trans "Jobs at Frittie" %} 
					</div>
				</div>
				<div class="panel-body">
					<div id="about_text" class="bubble">
						<h4 class="text-bold"></h4>
						<p>
						{% trans "Contact us at teamfrittie@gmail.com We are here to here your feedback !" %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}
