{% extends "base.html" %} 

{% load frittie_main %}

{% block title %}
     <title> {{SITE_NAME_INITIAL_CAPITAL}} - {{location.name|first_char_upper}} </title>
{% endblock %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/location.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/location.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	
    <div id="location_details">
        <div class="photo-banner">
            <div class="background-photo blurred"></div>
        </div>
        <div class="contents">
            <div class="wide-column">
                {% block wide_column %}
                {% endblock %}
            </div>
            <div class="narrow-column">
                {% block narrow_column %}
                {% endblock %}
            </div>       
        </div>
    </div>
{% endblock %}

{% block modal %}
    
    {% include "common/modal/delete_comment.html" %}
    {% include "common/modal/report_comment.html" %}
    {% include "common/modal/add_photo.html" %}

    {% block additional_modal %} {% endblock %}

{% endblock %}

{% block hidden %}
    <input type="hidden" id="location_name" value="{{location.name}}"/>
    <input type='hidden' id='location_unique_id' value='{{location.unique_id}}'/>
    <input type="hidden" id="location_lat" value="{{location.lat}}"/>
    <input type="hidden" id="location_lng" value="{{location.lng}}"/>
{% endblock %}


{% block footer %}
    {% include "common/footer.html" %}
{% endblock %}


{% block footer_internal_scripts %}

    {% if stage == "dev" %}
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/location/plugins/01_jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/location/plugins/02_hideshare.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/location/ajax.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/location/function.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/location/main.js"></script>
    {% else %}
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/location/prod/frittie.script.app.min.js"></script> 
    {% endif %}
{% endblock %}
