{% load i18n %}
<div class="modal fade clear-modal-error report-modal" id="report_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Report user" %}</h4>
      </div>
      <div class="modal-body">
        <p class="medium-text">
         {% trans "Please tell us the reason why you want to report this user" %}
        </p>
        <textarea id="report_user_textarea" class="medium-margin-top form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" id="report_user_final_btn" class="btn btn-primary btn-sm">{% trans "Submit" %}</button>
        <input type="hidden" id="report_user_username" value="{{user_view.username}}"/>
      </div>
    </div>
  </div>
</div>