{% extends "apps/message/message_base.html" %}
{% load i18n %}
{% block left_section %}
	<div class="notification-link medium-margin-top">
		<a href="{% url 'notification_main' %}" class="bold medium-text link-color">{% trans "Notifications" %}</a> 
	</div>
	<div class="feed-link small-margin-top">
		<a href="{% url 'feed_main' %}" class="bold medium-text link-color">{% trans "Feeds" %}</a> 
	</div>
	<div class="message-link small-margin-top">
		<a href="{% url 'message_main' %}" class="bold medium-text link-color">{% trans "Messages" %}</a> 
	</div>
{% endblock %}

{% block right_section %}

		<div class="header-section row">
			<div class="pull-left mini-margin-top">
				<span class="bold medium-text">
					{% trans "Conversation with" %} {{user_chat.get_profile.get_user_fullname}}
				</span>
			</div>
		</div>

		<div class="body-content row">
			<ul id="message_list">

				{% for message in messages %}
						<li class="message-item row" >
							<div class="user-avatar pull-left">
								<img src="{{message.user_send.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
							</div>
							<div class="message-details pull-left">
								<div class="message-to">
									<a href="/{{message.user_send.username}}/">
										<span class="bold">{{message.user_send.get_profile.get_user_fullname}}</span>
									</a>
								</div>
								<div class="message-content">
									{{message.content|safe}}
								</div>
							</div>
							<div class="message-date pull-right">
								{{message.date}}
							</div>
						</li>
				{% endfor %}
			</ul>
			<div class="action-section">
				<textarea class="pull-left form-control" id="message_textarea"></textarea>
				<input type="button" class="btn btn-primary btn-sm pull-right" value="Send Message" id="send_message_btn"/>
			</div>
		</div>
{% endblock %}

{% block hidden %}
	<input type="hidden" id="conversation_unique_id" value="{{conversation.unique_id}}"/>
{% endblock %}