{% extends 'apps/search/search_base.html' %}
{% load i18n %}
{% block main_area %}

<div id="location_search">

	{% include "common/map/map.html" %}

    <div id="location_section" class="map-content-section">

        <div class='search-info-bar row small-margin-left small-margin-right mini-margin-top'>
            <div class="wrapper">
                <div id='search_scope' class="pull-left">
                    <input type='hidden' name="search_type" value="location" />
                    <input type='hidden' name="search_query" value="{{query}}" />
                    <div class="search-scope-item pull-left">
                        <span class="bold normal-text"> 
                            {% trans "Activity" %}
                        </span>
                        <input type='hidden' value='activity'/>    
                    </div>
                    <div class="search-scope-item pull-left active">   
                        <span class="bold normal-text"> 
                            {% trans "Location" %}
                        </span>
                        <input type='hidden' value='location'/>    
                    </div>
                    <div class="search-scope-item pull-left">
                        <span class="bold normal-text"> 
                            {% trans "People" %}    
                        </span>
                        <input type='hidden' value='people'/>    
                    </div>
                </div>

                <div class="pull-right">
                    <div class="medium-margin-right">
                        {% if query %}
                            {% with results_count=results|length %}
                                <span class="results-count-text">{{results_count}}</span>
                                {% if results_count == 1 %} 
                                    {% trans "result for" %} 
                                {% else %}
                                    {% trans "results for" %} 
                                {% endif %}    
                                <span class="query bold">"{{query}}"</span>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="search-result" class='row'>   
            {% if query %}
                <ul id="location_list" class="row">
                    {% for result in results %}
                        {% if forloop.first %}
                        <li class='location-search-item first-item row' data-unique-id="{{result.object.unique_id}}" data-item-number="{{forloop.counter}}" data-position="{{result.object.lat}},{{result.object.lng}}">
                        {% else %}
                        <li class='location-search-item row' data-unique-id="{{result.object.unique_id}}" data-item-number="{{forloop.counter}}" data-position="{{result.object.lat}},{{result.object.lng}}">
                            <div class="map-item-border-line"></div>
                        {% endif %}    
                            
                            <div class="item-container row">
                                <div class="left-column pull-left">
                                    <div class="location-main-picture">
                                        <a onclick="moveToLocationOverlay(this,'li.location-search-item')">
                                            <span class="frame">
                                                <img src="{{result.object.main_picture.image.url}}" />
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="right-column pull-left medium-margin-left">
                                    <div class="name">
                                        <a href="/location/{{result.object.unique_id}}">
                                            {{result.object.name}}
                                        </a>
                                    </div>
                                    <div class="category">
                                        <span class="bold">{% trans "Category" %}: </span>
                                        <span>{{result.object.get_category}}</span>
                                    </div>
                                    <div class="address">
                                        <span>{{result.object.get_address}}</span>
                                    </div>
                                    <div class="additional-info">
                                        <div class="follower pull-left">
                                            {% with followers_count=result.object.follow_by.all|length %}
                                            <span>
                                                {{followers_count}} 
                                                {% if followers_count > 1 %}
                                                    {% trans "followers" %}
                                                {% else %} 
                                                    {% trans "follower" %}
                                                {% endif %}
                                            </span>
                                            {% endwith %}
                                        </div>
                                        <div class="num-activity pull-left">
                                            {% with activity_count=result.object.get_all_activities.all|length %}
                                            <span>
                                                {{activity_count}} 
                                                {% if activity_count > 1 %}
                                                    {% trans "activities" %}
                                                {% else %} 
                                                    {% trans "activity" %}
                                                {% endif %}
                                            </span>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>              
                            </div>
                            {% if forloop.last %}
                                <div class="map-item-border-line"></div>
                            {% endif %}
                        </li> 
                    {% empty %}
                        <div class='empty-result div-center'>
                            <span class='medium-text'>
                                {% trans "Sorry, we couldn't find any results for" %} "<span class='bold'>{{query}}</span>". {% trans "Please try again" %}
                            </span>
                        </div>
                    {% endfor %}
                </ul> 
            {% else %}
                <div class='empty-query div-center'>
                    <span class='medium-text'>{% trans "You search keywords are empty. Please type some words to begin search" %}</span>
                </div>
            {% endif %}  
        </div>

    </div>

    {% include "common/watch_list.html" %}

</div>

{% endblock %}

{% block hidden %}
<div class="hide" id="location_info_box_template">
    {% include "common/map/location_info_box.html" %}
</div>
{% endblock %}
