{% load i18n %}
<div class="modal fade" id="delete_activity_modal" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
    		<form action="{% url 'delete_activity' %}" method="POST">	{% csrf_token %}
      			<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	        			&times;
	        		</button>
	        		<h4 class="modal-title">{% trans "Delete Activity" %}</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>
	         			{% trans "Please enter the activity name to confirm your delete" %}
	        		</p>
	        		<input type="text" id="confirm_activity_name_input" value="" class="form-control"/>
	        		<input type="hidden" id="activity_name" value="{{activity.name}}"/>
	        		<input type="hidden" name="activity_unique_id" value="{{activity.unique_id}}"/>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
	        			{% trans "Cancel" %}
	        		</button>
	        		<button type="submit" id="delete_activity_final_btn" class="btn btn-danger btn-sm" disabled="disabled">
	        			{% trans "Yes, delete it" %}
	        		</button>
	      		</div>
	      	</form>
    	</div>
  	</div>
</div>