{% extends "base.html" %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/photo.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/photo.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="content container large-margin-top">
		{% block main_area %} {% endblock %}
	</div>
{% endblock %}

{% block modal %}
 	{% include "common/modal/add_photo.html" %}
 	{% include "apps/photo/modal/delete_photo.html" %}
 	{% include "apps/photo/modal/change_photo_caption.html" %}
{% endblock %}

{% block hidden %}
	<input type="hidden" id="num_photo_load" value='{{num_photo_load}}'/>
	<input type="hidden" id="total_photos" value="{{total_photos}}"/>
	<input type="hidden" id="object_unique_id" value="{{object.unique_id}}"/>
	<input type="hidden" id="object_type" value="{{object_type}}"/>
{% endblock %}

{% block footer_internal_scripts %}
	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/photo/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/photo/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/photo/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/photo/prod/frittie.script.app.min.js"></script> 
	{% endif %}
{% endblock %}
