<div class="activity-info">
    <div class='row'>
        <span class="activity-time gray-color medium-text">
        </span>
    </div> 
    <div class='row mini-margin-top'>
        <a href="#">
            <span class="activity-name bold large-text pointer-cursor">
            </span>
        </a>
    </div>
    <div class="activity-place row mini-margin-top">
        <div class="image pull-left">
            <div class='sprite-location-pin'></div>
        </div>
        <div class="text mini-margin-left pull-left">
            <div class="row">
                <span class="place-name gray-color">
                </span>
            </div>
            <div class="row">
                <span class="place-position gray-color">
                </span>
            </div>
        </div>
    </div>
    <div class='single-overlay activity-number'></div>
</div>

