{% load i18n %}

<footer id="footer">
	<div class="container">
		<div class="col-xs-12 col-sm-4">
			<h3 class="text">Frittie</h3>
			<div class="text-muted">©2014</div>
		</div>
		
		<div class="col-xs-12 col-sm-8">
			<ul id="footer_sitemap_menu" class="list-inline text-right">
                <li>
                    <a href="/about/career">{% trans "Career" %}</a>
                </li>
                <li>
                    <a href="/about/contact_us">{% trans "Contact Us" %}</a>
                </li>
                <li>
                    <a href="/about/help">{% trans "Help" %}</a>
                </li>
                <li>
                    <a href="/about">{% trans "Team" %}</a>
                </li>
                <li>
                    <a href="/about/term_service">{% trans "Term of Service" %}</a>
                </li>
			</ul>
			
            <form action="/i18n/setlang/" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{request.get_full_path}}" />
			    <div id="footer_language_menu" class="pull-right">
				    <div class='pull-left small-margin-right'> <i class="fa fa-language"></i> Language:</div>
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                    {% if language.code == "vn" %} 
                        <input id="language" name="language" type="image" src="{{STATIC_URL}}img/apps/all/vn-flag.jpg" value="{{ language.code }}" class='mini-margin-right pull-left'/></li>
                    {% endif %}
                    {% if language.code == "en" %} 
                        <input id="language" name="language" type="image" src="{{STATIC_URL}}img/apps/all/us-flag.png" value="{{ language.code }}" class='pull-left'/></li>
                    {% endif %}
                        
                    {% endfor %}
                     
			     </div>
            </form>
		</div>
	</div>
</footer>
