{% load i18n %}

<div id="header_web" class='row'>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                {% block header_content %}

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header_collapse">
                            <span class="sr-only">{% trans "Toggle navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href='/' class="navbar-brand" id="brand_name"> 
                            <div class='sprite-logo-white-small'></div>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="header_collapse">
                        <ul class="nav navbar-nav">

                            {% if user_login %}
                            <li id="explore_btn" class="header-item">
                                <a href='{% url "explore_page" %}'>
                                    {% trans "Explore" %}
                                </a>
                            </li>
                            {% endif %}

                            <li>
                                <form id="search_form" name="search_form" action="/search/" method="get" class="navbar-form navbar-right" role="search" autocomplete='off'>
                                    <input type="text" id="search_query" size="100" name='q' placeholder="City, Activity, Location, People ..." />
                                    <div class='sprite-search-icon' id='search_submit_btn' onclick="document.search_form.submit()" class="pointer-cursor"></div> 
                                    {% if search_type %}
                                        <input type="hidden" id="search_type" name='search_type' value="{{search_type}}"/>
                                    {% endif %}

                                    {% if is_explore %}
                                        <input type="hidden" name="explore" value="1"/>
                                    {% endif %}
                                </form>
                            </li>

                        </ul>   

                        {% if user_login %}
                        <ul class='nav navbar-nav navbar-right'> 

                            <li class='header-item' id="global_create_btn">
                                <a href='#' class="dropdown-toggle" role="button" data-toggle="dropdown" >+</a>
                                <ul id="global_create_action" class="dropdown-menu arrow center-arrow" role="menu">
                                    <li role="presentation">
                                        <a href="#" data-toggle="modal" data-target="#create_activity_modal">{% trans "Add an activity" %}</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a href="#" data-toggle="modal" data-target="#create_location_modal">{% trans "Create a place" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class='user-account header-item'>
                                <div class='user-account-area'>
                                    <a href="/people/{{user_login.username}}">
                                        <div class='profile-picture pull-left'>
                                            <img src="{{user_login.get_profile.avatar.image.url}}" id='user_account_avatar'/>  
                                        </div>
                                        <div class='fullname pull-left'>
                                            {{user_login.first_name}} {{ user_login.last_name}}
                                        </div>
                                    </a>
                                </div>
                            </li>
                            
                            <li class='user-menu dropdown' id='user_menu'> 
                                <div class='user-menu-area'>
                                    <a href='#' id='handler_user_menu_dropdown' class="dropdown-toggle" role="button" data-toggle="dropdown">
                                        <div class='dropdown-icon'>     
                                            <div class='arrow-icon sprite-arrow-icon'></div>   
                                        </div>
                                    </a>

                                    {% if total_new_notifications_and_messages > 0 %}
                                        <a href='#' class="dropdown-toggle" role="button" data-toggle="dropdown" id='new_notification'> 
                                            {{total_new_notifications_and_messages}}
                                        </a>
                                    {% endif %}
                                      
                                    <ul id="user_action" class="dropdown-menu arrow right-arrow" role="menu">
                                        <li id='watchlist' role="presentation">
                                            <a href='{% url "watchlist_main" %}' role="menuitem" tabindex="-1">
                                                <i class="fa fa-list mini-margin-right"></i>
                                                {% trans "Watch List" %}
                                            </a>
                                        </li>
                                        <li id='invite_friend' role="presentation">
                                            <a href='{% url "invite_friend" %}' role="menuitem" tabindex="-1">
                                                <i class="fa fa-users mini-margin-right"></i>
                                                {% trans "Invite Friends" %}
                                            </a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li id="notification" role="presentation">
                                            <a href="{% url 'notification_main' %}" role="menuitem" tabindex="-1">
                                                <i class="fa fa-globe mini-margin-right"></i>
                                                {% if new_notifications_count > 0 %}
                                                    {% trans "Notification" %} ({{new_notifications_count}})
                                                {% else %}
                                                    {% trans "Notification" %}
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li id="messages" role="presentation">
                                            <a href="{% url 'message_main' %}" role="menuitem" tabindex="-1">
                                                <i class="fa fa-comments-o mini-margin-right"></i>
                                                {% if new_messages_count > 0 %}
                                                    {% trans "Messages" %} ({{new_messages_count}})
                                                {% else %}
                                                    {% trans "Messages" %}
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class='account-settings' role="presentation">
                                            <a href="{% url 'account_settings' %}" role="menuitem" tabindex="-1">
                                                <i class="fa fa-gears mini-margin-right"></i>
                                                {% trans "Settings" %}
                                            </a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li class='about' role='presentation'>
                                            <a href="{% url 'about_page' %}" role='menuitem' tabindex="-1">
                                                <i class="fa fa-question-circle mini-margin-right"></i>
                                                {% trans "Help" %}
                                            </a>
                                        </li>
                                        <li class="logout" role="presentation">   
                                            <a href="{% url 'account_logout' %}" role="menuitem" tabindex="-1">
                                                 <i class="fa fa-sign-out mini-margin-right"></i>
                                                {% trans "Sign Out" %}
                                            </a>
                                        </li> 
                                    </ul>
                                </div>                                     
                            </li>
                            
                        </ul>

                        {% else %}
                        <ul class='nav navbar-nav navbar-right'>    
                            <li id="explore_btn" class="header-item">
                                <a href='{% url "explore_page" %}'>
                                    {% trans "Explore" %}
                                </a>
                            </li>                             
                            <li class='header-item pointer-cursor' id="login">     
                                <a href='{% url "account_login" %}' >
                                    {% trans "Login" %}
                                </a>            
                            </li>

                            <li class='header-item pointer-cursor' id="signup">     
                                <a href='{% url "account_signup" %}' >
                                    {% trans "Signup" %}
                                </a>            
                            </li>
                        </ul>
                        {% endif %}


                {% endblock %}
            </div>
    </nav>
</div>



