<!-- {% load i18n %}
<div id="show_feed_btn">
	<div class="wrapper">
		<div class="content">
			<span class="bold white-color">
				{% trans "Show Feeds" %}
			</span>
		</div>
	</div>
</div>
<div id="live_feed">
	<div id="hide_feed_btn">
		<a href="#" class="white-color small-text">
			{% trans "Hide" %}
		</a>
	</div>
	<div class="wrapper row">
		<div class="title row">
			<a href="{% url 'feed_main' %}">
				<span class="large-text bold">{% trans "LIVE FEED" %}</span>
			</a>
		</div>
		<div class="content row">	
			{% if feeds %}
				<ul id="list_feed">
					{% for feed in feeds %}
						<li class="feed-item row">
							<div class="pull-left user-avatar">
								<img src="{{feed.create_by.get_profile.avatar.image.url}}" class='avatar'/>
							</div>
							<div class='pull-left feed-details'>
								<div class='feed-content'>
									{{feed.content|safe}}
								</div>
								<div class='feed-time'>
									{{feed.get_elapse_time}}
								</div>
							</div>
						</li>
					{% endfor %}
				<ul>
			{% else %}
				<div id="no_live_feed">
					<span class="">{% trans "You currently have no feeds" %}</span>
				</div>
			{% endif %}
		</div>
	</div>
</div> -->